<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pr1n.androidtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.apesmedical.commonsdk.app.startup.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTest">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidTest.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.apes.com"
                    android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />

        <!--        <meta-data-->
        <!--            android:name="com.pr1n.androidtest.AppConfiguration"-->
        <!--            android:value="ConfigModule" />-->

        <provider
            android:name="com.rousetime.android_startup.provider.StartupProvider"
            android:authorities="${applicationId}.android_startup"
            android:exported="false">
            <meta-data
                android:name="com.apesmedical.commonsdk.app.startup.StartupProviderConfig"
                android:value="android.startup.provider.config" />
            <meta-data
                android:name="com.pr1n.androidtest.AppStartup"
                android:value="android.startup" />
        </provider>
    </application>

</manifest>